@model IEnumerable<Dominio.Retira>

@{
    ViewData["Title"] = "VerRetirosDeCol";
}

<h1 class="text-center">Listado de Retiran del Donante Seleccionado</h1>

@if (TempData["Status"] != null)
{

    if ((bool)TempData["Status"] == true)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensaje"].ToString();
        </div>
    }
    else if ((bool)TempData["Status"] == false)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Mensaje"].ToString();
        </div>
    }
}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-white">
                Cédula
            </th>
            <th class="text-white">
                Teléfono
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
            </tr>
        }
    </tbody>
</table>
