@model Dominio.EntidadesDeNegocio.AlcanciaExterna

@{
    Layout = null;
}

@functions{
    public string GetAlc()
    {
        ViewBag.AlcExterna = (List<Dominio.EntidadesDeNegocio.AlcanciaExterna>)TempData["alcanciaExt"];
        ViewBag.Fecha = DateTime.Today.Year;
        return string.Empty;
    }
}
<style>
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
        margin: 5px;
    }

    .listado {
        border: 1px solid black;
        width: 100%;
        margin-bottom: 10px
    }
</style>

<div id="divImprimir1">

    <h1><b>DEVOLUCIÓN DE ALCANCÍAS EXTERNAS TELETÓN  @ViewBag.Fecha</b></h1>
    @GetAlc()
    <p><b>FECHA DE DEVOLUCIÓN:</b> @DateTime.Now.ToString("dd/MM/yyyy")</p>
    <p><b>RECIBIDAS DE:</b> @ViewBag.AlcExterna[0].Nombre</p>
    <p><b>CANTIDAD:</b>  @ViewBag.AlcExterna.Count</p>

    @for (int i = 0; i < ViewBag.AlcExterna.Count; i++)
    {
        if (ViewBag.AlcExterna.Count - 1 != i)
        {
            ViewBag.alc += ViewBag.AlcExterna[i].IdAlcExt + ", ";
        }
        else
        {
            ViewBag.alc += ViewBag.AlcExterna[i].IdAlcExt + ".";
        } 
    }

    <p><b>ALCANCÍAS EXTERNAS</b>: @ViewBag.alc</p>
    <br />
    <br />
    <p><b>El firmante declara en conformidad haber devuelto las alcancías enumerdadas en el día de la fecha.</b></p>
    <br />
    <br />
    <br />
    <p><b>FIRMA:_____________________          ACLARACIÓN:_____________________</b></p><br /><br /><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1><b>DEVOLUCIÓN DE ALCANCÍAS EXTERNAS TELETÓN  @ViewBag.Fecha</b></h1>
    <p>Fecha: @DateTime.Now.ToString("dd/MM/yyyy")</p>
    <p>Cantidad de alcancías devueltas: @ViewBag.AlcExterna.Count</p>
    <p>Por este medio la Fundación Teletón, deja constancia que han sido devueltas las siguientes alcancias:</p>
    <br />
    <p>@ViewBag.alc</p>
    <p><b>Le sugerimos conserve este documento en calidad de comprobante.</b></p>
    <br />
    <br />
    <p><b>Muchas gracias por su colaboración en la campaña @ViewBag.Fecha.</b></p>
    <p><b>#ContigoEsPosible !!</b></p>
</div>